.Dictionary section {
  background: #d8e2fd;
  padding: 10px 30px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
}

.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 6px 10px;
  color: #333;
  border: 1px solid #ddd;
  font-style: italic;
}
